services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - 6379
    networks:
      - dokploy-network

  bookmarked-api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000
    depends_on:
      - redis
    networks:
      - dokploy-network
    # env_file:
    #   - .env

networks:
  dokploy-network:
    external: true

  # nginx:
  #   container_name: nginx
  #   restart: unless-stopped
  #   image: nginx
  #   ports:
  #     - 80:80
  #     - 443:443
  #   depends_on:
  #     - bookmarked-api
  #     - certbot
  #   volumes:
  #     - ./nginx/nginx.conf:/etc/nginx/nginx.conf
  #     - ./certbot/conf:/etc/letsencrypt
  #     - ./certbot/www:/var/www/certbot

  # certbot:
  #   image: certbot/certbot
  #   container_name: certbot
  #   volumes:
  #     - ./certbot/conf:/etc/letsencrypt
  #     - ./certbot/www:/var/www/certbot
  #   command: certonly --webroot -w /var/www/certbot --force-renewal --email jestsee@gmail.com -d api.bookmarked.jestsee.com --agree-tos
